h1{
 text-align: center;
 padding-top: 20px;
 color: white;
}

body, html {
  margin: 0;
  padding: 0;
}

.title-container {
  background-color: #334d36;
  color: #fff; 
  text-align: center;
  padding: 20px; 
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
